
.tag-list{
    display: flex;
    flex-wrap: wrap;
}

.tag-list a{
  text-decoration: none;
  padding: 7px;
  border: 1px solid #333;
  color: #666;
  margin: 3px;
  border-radius: 3px;
}
.tag-list a:hover{
  background-color: #000;
  color: #fff;
}