
.dataTables_filter{
    display: none;
}

.card-table{
    padding: 30px;
}

.dataTables_length{
    margin-top: 15px;
}
.dataTables_length select{
    padding: 3px 5px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}

.dataTables_paginate{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

/* brand data table fix css */
.kGckkd {
    display: flex;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px !important;
    font-weight: 500;
}

.kgOwiN {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87);
    background-color: #FFFFFF;
    min-height: 48px;
}